#tools-wrapper
  button.btn.btn-default.diagramm-toggle(
    type='button', 
    data-toggle='collapse',
    data-target='#bs-diagramm-navbar-collapse-1'
  ) Карта сайта
  //- FAKE
  button.btn.btn-default.fake-toggle(
    type='button', 
    data-toggle='collapse',
    data-target='#bs-fake-navbar-collapse-1'
  ) Fake
  button.btn.btn-success.submit(
    type='submit'
  ) Сохранить

  #bs-diagramm-navbar-collapse-1.panel-collapse.collapse
    #diagramm
  #bs-fake-navbar-collapse-1.panel-collapse.collapse
    pre #{JSON.stringify(issue, false, 2)}